body {
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: ;
}

main {
    background-color: darkred;
    border-radius: 5px;
    width: 375px;
    text-align: center;
    font-family: Architects Daughter;
    


}

p {
    color: whitesmoke;
}

.verytop {
    background-color: darkslategrey;
    color: whitesmoke;
    min-height: 10vh;
}

.top {
   
    height: 120px
    border radius
}
.middle {
    background-color: white;
    color: blueviolet;
    font-size: 2rem;
    height: 135px;
    align-content: center;
    justify-content: center;
    padding-top: 1px;
    padding-bottom: 2px;
}
.bottom {
    
    height: 20px
}

.very-bottom {
    background-color: darkslategray;
    padding-top: 10px;
}

.hello {
    font-size: 4rem;
    color: whitesmoke;
}

.myname {
    font-size: 1rem;
    color: whitesmoke;
}

.love {
    font-size: 5rem;
    color: blueviolet;
    line-height: ;
}